[submodule "csc_249_final_proj_a2d_det"]
	path = csc_249_final_proj_a2d_det
	url = https://github.com/rochesterxugroup/csc_249_final_proj_a2d_det.git
[submodule "csc_249_final_proj_a2d_cls"]
	path = csc_249_final_proj_a2d_cls
	url = https://github.com/rochesterxugroup/csc_249_final_proj_a2d_cls
[submodule "csc_249_final_proj_a2d_seg"]
	path = csc_249_final_proj_a2d_seg
	url = https://github.com/rochesterxugroup/csc_249_final_proj_a2d_seg
